
.post-form{
    background-color: rgb(255, 255, 255);
    border-radius:5px;
    padding: 0.8rem;
    cursor:pointer;
}
.post-form header{

    display: flex;
    align-items: center;
    gap:0.5rem;
}

.post-form header input{
    width: 100%;
    border-radius: 10px;
    background-color: rgb(244, 244, 244);
    color: rgb(26, 26, 26);
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    outline: none;
}